<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
						http://www.springframework.org/schema/security 
						http://www.springframework.org/schema/security/spring-security-4.2.xsd
						http://www.springframework.org/schema/context
           				http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<context:component-scan base-package="com.ocabit" />

	<global-method-security secured-annotations="enabled"
		pre-post-annotations="enabled">
		<!-- AspectJ pointcut expression that locates our "post" method and applies 
			security that way <protect-pointcut expression="execution(* bigbank.*Service.post*(..))" 
			access="ROLE_TELLER"/> -->
	</global-method-security>


	<!-- estáticos liberados -->

	<http pattern="/teste.jsf" security="none" />
	<http pattern="/templates/**" security="none" />
	<http pattern="/images/**" security="none" />
	<http pattern="/js/**" security="none" />
	<http pattern="/styles/**" security="none" />
	<http pattern="/javax.faces.resource/**" security="none" />
	<http pattern="/pages/erp/rh/resultVendedorSM.jsf" security="none" />

	<http>
		<intercept-url pattern="/login.jsf" access="permitAll" />
		<intercept-url pattern="/**" access="isAuthenticated()" />

		<remember-me remember-me-parameter="remember-me" data-source-ref="dataSource"
			token-validity-seconds="86400" />
			
		<form-login login-page="/login.jsf" default-target-url="/index.jsf"
			always-use-default-target="true" authentication-failure-url="/login.jsf?errodelogin=true"
			authentication-success-handler-ref="loginSuccessHandler" />

		<anonymous username="" />

		<logout invalidate-session="true" delete-cookies="JSESSIONID" />

		<access-denied-handler error-page="/login.jsf?acessonegado=true" />


		<csrf disabled="true" />

		<session-management
			session-authentication-error-url="/login.jsf?sessionAuthError=true">
			<concurrency-control max-sessions="1"
				error-if-maximum-exceeded="false" expired-url="/login.jsf?expired=true" />
		</session-management>


	</http>

	<authentication-manager>
		<authentication-provider ref="daoAuthenticationProvider" />
	</authentication-manager>
	
	<beans:bean id="loginSuccessHandler"
		class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">
		<beans:property name="useReferer" value="true" />
	</beans:bean>

	<beans:bean
		class="org.springframework.security.crypto.password.StandardPasswordEncoder"
		id="passwordEncoder" />

	<beans:bean id="daoAuthenticationProvider"
		class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
		<beans:property name="userDetailsService" ref="userDetailsServiceJPA" />
		<beans:property name="passwordEncoder" ref="passwordEncoder" />
	</beans:bean>


	<beans:bean id="userDetailsServiceJPA"
		class="com.ocabit.security.spring.UserDetailsServiceImpl" />

	<beans:bean id="loggerListener"
		class="org.springframework.security.authentication.event.LoggerListener" />

</beans:beans>